= form_with model: @carmaker, local: true do |f|
  .container
    .post-form__title
      Carmaker Data
    %form
    .form-inline
    %label.my-1.mr-2{:for =>"inlineFormCustomSelectWeather"} carmaker
    .form-inline
      = f.text_field :maker, class: "form-control", placeholder: "Carmaker"
      
    %form
    .form-inline
    %label.my-1.mr-2{:for =>"inlineFormCustomSelectWeather"} image
    = f.file_field :image
    
    %form
    %label{:for => "exampleFormControlTextarea1"} explanation 
    = f.text_area :explanation, class: "form-control"
    
    .actions
      = f.submit "update", class: 'btn btn-success btn-block' 
      = link_to "Delete", root_path, class: "btn btn-warning btn-block", method: :delete, data:{ confirm: 'Are you sure to delete?',cancel: 'No, I want my mummy..',commit: 'Yes, bring it on'}, title: 'Delete Confirmation'