.body1
  .swiper-container
    .swiper-wrapper
      .swiper-slide 
        = image_tag "nissan_top_image.jpg", class: "swiper-class1"
      .swiper-slide
        = image_tag "Tesla-Family-Crop-1920px.jpg", class: "swiper-class1"
      .swiper-slide
        = image_tag "ionity_km_01.jpg", class: "swiper-class1"
      .swiper-slide 
        = image_tag "porsche.image.jpg", class: "swiper-class1"
      .swiper-slide 
        = image_tag "1-1Z5251R026214.jpg", class: "swiper-class1"
    .swiper-pagination
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"}
.container
  .row.row-cols-1.row-cols-md-1
  - @carmakers.each do |carmaker|
    .col-md-3
      .card
        = image_tag "#{carmaker.image}", class: "card-img-top", size: '320x400'
        .card-body.text-white.bg-dark
          %h3.card-title
            = link_to carmaker.maker, carmaker_path(carmaker), class: "card-title-title"
          %p.card-text 
            = carmaker.explanation
        .card-footer.text-white.bg-dark
          %p.card-createdat
            = "Latest Car Info"
            .card-createdat__new-car
              .card-createdat__new-car__car
                = "#{carmaker.cars.order("cars.created_at desc").first&.car_type}"  
              .card-createdat__new-car__date
                = "added at #{carmaker.cars.order("cars.created_at desc").first&.created_at&.strftime('%Y/%m/%d')}"

:javascript
  var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    effect: "fade",
    autoplay: {
    delay: 5000,
    speed: 10000,
    stopOnLastSlide: false,
    disableOnInteraction: false,
    reverseDirection: false
    },
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev'
    },
    pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true
    }
    });
