.container
  .row.row-cols-1.row-cols-md-1
  - @carmakers.each do |carmaker|
    .col-md-3
      .card
        = image_tag "#{carmaker.image}", class: "card-img-top", size: '320x400'
        .card-body.text-white.bg-dark
          %h3.card-title
            = link_to carmaker.maker, carmaker_path(carmaker), class: "card-title-title"
          %p.card-text 
            = carmaker.explanation
        .card-footer.text-white.bg-dark
          %p.card-createdat
            = @car.car_type 
            = "was added at #{carmaker.created_at.strftime('%Y/%m/%d')}"
