.container
  .userTitle
    = "#{@user.nickname}’s Information"
    = @average_range
   
  .userEdit-btn
    - if user_signed_in? && current_user.id == @user.id
      = link_to "Edit", edit_user_path(@user), class: "btn btn-success"
  .userImage
    - if @user.image?
      = image_tag @user.image.url
  .userTable 
  
    %table
      %th
        Nickname
      %td
        = @user.nickname

    %table
      %th
        Your Car
      %td
        = @user.car.car_type
    - @posts.each_with_index do |post, i| 
      %table
        %th
          = "Data"
        %td
          = link_to "#{post.date}", post_path(post)
          s'
          %br Data
  .userPagination
    = paginate @posts

  = high_chart("chart-1", @graph_data)