.body0
  = image_tag "eu-environment.jpg", class: "toppage-image0"
  %p.toppage-image0__text
    = "Thank you for accelerating the world’s transition to sustainable energy."
  .toppage-exp
    .toppage-exp__viewer
    .toppage-exp__user

.body1
  .swiper-container
    .swiper-wrapper
      .swiper-slide 
        = image_tag "nissan_top_image.jpg", class: "swiper-class1"
      .swiper-slide
        = image_tag "Tesla-Family-Crop-1920px.jpg", class: "swiper-class1"
      .swiper-slide 
        = image_tag "porsche.image.jpg", class: "swiper-class1"
      .swiper-slide 
        = image_tag "Tesla-Model-S-X-3-hero.jpg", class: "swiper-class1"
      
    .swiper-button-prev
    .swiper-button-next
    .swiper-pagination
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"}


.body2
  


:javascript
  var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    effect: "fade",
    //slidesPerView: 3,
    autoplay: {
    delay: 5000,
    speed: 10000,
    stopOnLastSlide: false,
    disableOnInteraction: false,
    reverseDirection: false
    },
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev'
    },
    pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true
    }
    });
