= form_with model: @car, local: true do |f|
  .container
    .post-form__title
      Car Data
    

    %form
    .form-inline
    %label.my-1.mr-2{:for =>"inlineFormCustomSelectWeather"} car type
    .form-inline
    = f.text_field :car_type, class: "form-control", placeholder: "Car Type"
      
    %form
    .form-inline
    %label.my-1.mr-2{:for =>"inlineFormCustomSelectWeather"} image
    = f.file_field :image

    

    %form
    .form-inline
    %label.my-1.mr-2{:for =>"inlineFormCustomSelectMode"} Carmaker
    = f.select :carmaker_id, Carmaker.all.map { |carmaker| [carmaker.maker, carmaker.id] }, {selected: current_user.carmaker.id}, {class: "form-control"}
    

    %form
    %label.my-1.mr-2{:for =>"inlineFormCustomSelectDistance"} WLTP Range
    .form-inline
      = f.number_field :WLTP_range, class: "form-control", placeholder: "wltp"

    %form
    %label.my-1.mr-2{:for =>"inlineFormCustomSelectConsumption"} EPA Range
    .form-inline
      = f.number_field :EPA_range, class: "form-control", placeholder: "epa"
    
    .actions
      = f.submit "submit", class: 'btn btn-success btn-block' 