.container
  = @car.car_type
  = @average_range
  
  .container_car
    
    .container_car_car
      
    = image_tag "#{@car.image}", class: "cars-image"
  .carsTable 
    %table
      %th
        WLTP Range
      %td
        = "#{@car.WLTP_range.round(0)} km"
    %table
      %th
        EPA Range
      %td
        = "#{@car.EPA_range.round(0)} km"
    - @posts.each do |post| 
      %table
        %th
          .table-nickname
            = "#{post.user.nickname}"
            ’s
            %br
          .table-range
            Projected Range   
        %td
          - projected_range = (post.distance.to_f/post.consumption.to_f*100).round(1)
          = link_to "#{projected_range} km", post_path(post)
    .userPagination
      = paginate @posts

  = high_chart("chart-1", @graph_data)
  
    
          
    