
%html
  %head
  %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
  %title EV REAL RANGE
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css", :rel => "stylesheet"}

  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  


  
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      %h1.navbar-brand{:href => "#"} EV REAL RANGE
      %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavDropdown.collapse.navbar-collapse
        - if user_signed_in?
          %ul.navbar-nav
            %li.nav-item.active
              = link_to "Home", carmakers_path, class: "nav-link"
              
              %span.sr-only (current)
            %li.nav-item
              = link_to "#{current_user.nickname}'s Page", user_path(current_user), class: "nav-link"
            %li.nav-item
              = link_to "New Post", new_post_path, class: "nav-link"
            %li.nav-item
              = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"
            %a#navbarDropdownMenuLink.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Dropdown 後で修正
            .dropdown-menu{"aria-labelledby" => "navbarDropdownMenuLink"}
              %a.dropdown-item{:href => "#"} Action
              %a.dropdown-item{:href => "#"} Another action
              %a.dropdown-item{:href => "#"} Something else here
        - else
          %ul.navbar-nav
            %li.nav-item.active
              = link_to "Home", carmakers_path, class: "nav-link"
            %li.nav-item
              = link_to "Log In", new_user_session_path, class: "nav-link"
            %li.nav-item
              = link_to "Sign Up", new_user_registration_path, class: "nav-link"

    .body 
      = yield
      