
%html
  %head
  %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
  %title EV REAL RANGE
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  
%body
  .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
    %h1.my-0.mr-md-auto.font-weight-normal EV REAL RANGE
    %nav.my-2.my-md-0.mr-md-3
      %a.p-2.text-dark{:href => "#"} Features
      %a.p-2.text-dark{:href => "#"} Enterprise
      %a.p-2.text-dark{:href => "#"} Support
      %a.p-2.text-dark{:href => "#"} Pricing
    - if user_signed_in?
      = link_to current_user.nickname, user_path(current_user), class: "header__right--btn"
      = link_to "New Post", new_post_path, class: "btn.btn-outline-primary" 
      = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn.btn-outline-primary" 
    - else
      = link_to "Log In", new_user_session_path, class: "btn.btn-outline-primary"
      = link_to "Sign Up", new_user_registration_path, class: "btn.btn-outline-primary"
  %p.notice= notice
  %p.alert= alert
  = yield
